<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Frontend</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>AI Resume Coach</h1>
        <form action="/process_text" method="post">
            <input type="text" name="input_text" placeholder="Enter Link to Job Listing">
            <br><br>
            <button type="submit">Generate Suggestions</button>
        </form>
    </div>
</body>
</html>